.header {
   justify-content: space-between;
   align-content: center;
}

.top-header {
   background-color: #252525;
   height: 110px;
   opacity: 0.97;
}

.menu {
   display: flex;
   justify-content: space-between;
}


.menu li a {
  line-height: 110px;
   text-decoration: none;
   color: rgba(255, 255, 255, 0.548);
   transition: 1s ease;
   letter-spacing: 4px;
}

.menu li a:hover {
   color: white;
   transition: 0.7s;
}


.nav-link {
   color: white !important;
}