* {
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-family: 'PT Serif', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=PT+Serif:wght@400;700&display=swap');

section {
   width: 100%;

}

.container {
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

.row {
   display: flex;
   flex-wrap: wrap;

}

/* header */

.header {
   justify-content: space-between;
   align-content: center;
   /* height: 100px; */
}

.top-header {
   background-color: #252525;
   height: 110px;
   opacity: 0.97;

}


.logo {
   width: 203px;
   height: 110px;
   background-image: url(img/retina-photographer.png);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer;

}

.logo a {}

.menu {
   display: flex;
   justify-content: space-between;


}

.first a {
   color: white!important
}

.menu li a {
  line-height: 110px;
   text-decoration: none;
   color: rgba(255, 255, 255, 0.548);
   transition: 1s ease;
   letter-spacing: 4px;

}

.menu li a:hover {
   color: white;
 
   transition: 0.7s;
   
}


/* main */

.first {
   position: relative;
}


.first-big {
   max-width: 1900px;
   height: 500px;
   background-color: #252525;
   opacity: 0.97;
   margin: 0 auto;
   /* position: absolute; */
   z-index: 5;
}

.first-small {
   background-image: url(img/topslide.jpg);
   max-width: 1240px;
   height: 600px;
   color: white;
   position: relative;
   margin: 0 auto;
  
   z-index: 10;
}

.say-hi {
   position: absolute;
   top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

.hello {
   font-size: 100px;
   text-align: center;
}

.photographer {
   text-align: center;
   font-size: 20px;
   padding-top: 30px;
   font-family:sans-serif;
  letter-spacing: 5px;

}
