* {
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-family: 'PT Serif', serif;
   /* height: 100%; */
   
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=PT+Serif:wght@400;700&display=swap');

section {
   width: 100%;

}

.container {
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

.row {
   display: flex;
   flex-wrap: wrap;

}


/* header */


.top-header {
   position: sticky;
   top: 0;
   z-index: 20;
}


/* main */



